.blank{
    height: 780px;
    background-color: black;
}
.Ocean-Bound-containor{
    height: 580px;
}
.Ocean-Bound-head{
    font-size: 50px;
    font-weight: 600;
}
.Ocean-Bound-text{
    width: 900px;
    margin-left: 200px;
    font-weight: 500;
}
.part-3-text{
    font-size: 30px;
    margin-left: 120px;
}
.all-img{
    height: 600px;
}
.full-width-image{
    width: 1650px;
    height: 600px;
}

@media screen and (min-width: 320px) and (max-width: 397px){
    .Ocean-Bound-head{
        font-size: 28px;
    }
    .Ocean-Bound-text{
        margin-left: 0;
        width: 340px;
    }
    .Ocean-Bound-containor{
        height: 450px;
    }
    .part-3-text{
        font-size: 20px;
        margin-left: 0px;
        width: 100%;
    }
    .all-img{
        height: 350px;
    }
    .full-width-image{
        width: 350px;
        height: 300px;
    }
}

@media screen and (min-width: 400px) and (max-width: 426px){
    .Ocean-Bound-head{
        font-size: 30px;
    }
    .Ocean-Bound-text{
        margin-left: 0;
        width: 390px;
    }
    .Ocean-Bound-containor{
        height: 450px;
    }
    .part-3-text{
        font-size: 20px;
        margin-left: 15px;
        width: 90%;
    }
    .all-img{
        height: 350px;
    }
    .full-width-image{
        width: 390px;
        height: 300px;
    }
    
}

@media screen and (min-width: 601px) and (max-width: 800px){
    .Ocean-Bound-head{
        font-size: 34px;
    }
    .Ocean-Bound-text{
        margin-left: 70px;
        width: 550px;
    }
    .Ocean-Bound-containor{
        height: 400px;
    }
    .part-3-text{
        font-size: 20px;
        margin-left: 15px;
        width: 100%;
    }
    .all-img{
        height: 350px;
    }
    .full-width-image{
        width: 690px;
        height: 300px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1025px){
    .Ocean-Bound-head{
        font-size: 38px;
    }
    .Ocean-Bound-text{
        margin-left: 120px;
        width: 690px;
    }
    .Ocean-Bound-containor{
        height: 400px;
    }
    .part-3-text{
        font-size: 20px;
        margin-left: 30px;
        width: 100%;
    }
    .all-img{
        height: 350px;
    }
    .full-width-image{
        width: 890px;
        height: 300px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1441px){}