.hero {
    position: relative;
    background-image: url('https://s3-alpha-sig.figma.com/img/d19f/078b/37b903c01216d46846d9e2ee508244eb?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V0dXez74F78KPG7~NkD3lsv-QC~PrRsQtss-PsjITmZ8c4u96R~k~BAJnGkuli5o-EV7dMSJ6MCRoU4wD~wbxhbs5uHI8GGTkKQyW5o7cr8o4SRYyBDjiitw1c2omSTS6YaGZ5iY~LpuZnY9irBC1NMrQA6Gy4scFBPJvTQEclG45Mm3qdBxh740K5EDSGcF9RUDNAFUm1nZ5dNBrEyOGjqnVcdfQXSVKtV~hpiMU~p-TqralIoRxcTUe8fKjPLK5wDvtq-XI~~ZTrYTXeGgLk46LmxGuBWNAtvMq3oG8D1n62NaajbrQVUDWKqyWBr41UlynRS-ERFENe-m~Rxvlw__');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
}

.hero h3 {
    font-family: Inter;
    font-size: 4rem;
    font-weight: 600;
    line-height: 66px;
    z-index: 3;
}

.crafting {
    background-color: #D1EBF8;
}

.about-2 {
    width: 33rem;
    font-weight: 400 !important;
}

.about-img {
    margin-left: -5rem !important;
    width: 45rem !important;
}

.abtbtn:hover {
    background-color: black !important;
    color: white !important;
}

.hero-last {
    background-color: #FFF2D1;
    height: fit-content;
}

/* Responsive styles for tablets and mobiles */
@media (max-width: 991px) {
    .hero h3 {
        font-size: 3rem;
        line-height: 50px;
    }

    .about-2 {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }

    .about-img {
        margin-left: 0 !important;
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 767px) {
    .hero h3 {
        font-size: 2.5rem;
        line-height: 40px;
    }

    .about-2 {
        font-size: 1.5rem;
        line-height: 1.5;
        padding: 0 1rem;
    }

    .abtbtn {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }

    .hero-last h1 {
        font-size: 2rem;
    }

    .hero-last .abtbtn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .crafting .display-6 {
        font-size: 2rem;
    }
}
@media (max-width: 575px) {
    .hero h3 {
        font-size: 2rem;
        line-height: 30px;
        padding-top: 0rem !important;
        padding-bottom: 0 !important;
    }
    .hero-3-row{
        width: 99%;
    }

    .about-2 {
        font-size: 1.2rem;
        line-height: 1.4;
        padding: 0 0.5rem;
    }

    .about-img {
        margin-left: 0 !important;
        width: 100% !important;
        height: auto !important;
    }

    .abtbtn {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }

    .hero-last h1 {
        font-size: 1.5rem;
    }

    .hero-last .abtbtn {
        font-size: 0.9rem;
        padding: 0.3rem 0.7rem;
    }

    .crafting .display-6 {
        font-size: 1.5rem;
    }
   
}