
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;

}

html,body{
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
}


/* .raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
   */

body, p {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75rem;
  }
  

.raleway-heading {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.lh26 {
    line-height: 2.6rem;
}